@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box; }

html {
  font-size: 100%; }

.navContainer {
  overflow: hidden;
  position: relative;
  z-index: 5; }
  .navContainer #navCheck {
    display: none; }
  .navContainer #navCheck:not(:checked) ~ nav {
    max-height: 0px; }
  .navContainer #navCheck:checked ~ nav {
    max-height: 90vh; }
  .navContainer #navCheck:checked ~ .hamburger .line1 {
    transform: rotate(45deg); }
  .navContainer #navCheck:checked ~ .hamburger .line2 {
    transform: scaleY(0); }
  .navContainer #navCheck:checked ~ .hamburger .line3 {
    transform: rotate(-45deg); }
  .navContainer .hamburger {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: top 0.5s ease-in-out; }
    .navContainer .hamburger label {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 32px;
      height: 26px; }
      .navContainer .hamburger label span {
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #3BBFAD; }
        .navContainer .hamburger label span.line1 {
          transform-origin: 0% 0%;
          transition: transform 0.4s ease-in-out; }
        .navContainer .hamburger label span.line2 {
          transition: transform 0.2s ease-in-out; }
        .navContainer .hamburger label span.line3 {
          transform-origin: 0% 100%;
          transition: transform 0.4s ease-in-out; }
      .navContainer .hamburger label:hover span, .navContainer .hamburger label:focus span {
        border-color: #c1ece6; }
  .navContainer nav {
    background: #FFF;
    transition: max-height 1s;
    padding-top: 25px;
    overflow: hidden; }
    .navContainer nav ul {
      list-style-type: none; }
    .navContainer nav a:link, .navContainer nav a:visited {
      display: block;
      padding: 8px 12px;
      text-decoration: none;
      font-size: 1rem;
      font-family: "Open Sans", Verdana, Arial, sans-serif;
      font-weight: 300;
      color: #000;
      border-bottom: 1px solid #3BBFAD;
      margin: 0 70px 0 90px;
      text-align: center; }
    .navContainer nav a:hover, .navContainer nav a:focus {
      background: #3BBFAD;
      color: #FFF; }
    .navContainer nav li:last-child a {
      border: none; }
    .navContainer nav a:active {
      background: #3BBFAD;
      color: #FFF; }
    .navContainer nav img {
      width: 60px;
      display: block;
      position: absolute;
      top: 15px;
      left: 5px; }
  .navContainer .navWave {
    width: 100%;
    height: 125px;
    overflow: hidden;
    position: relative;
    z-index: -1; }
    .navContainer .navWave svg {
      filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.3)); }
  .navContainer .socials {
    display: none; }

@media (min-width: 800px) {
  .navContainer #navCheck:not(:checked) ~ nav,
  .navContainer #navCheck:checked ~ nav {
    max-height: 100%; }
  .navContainer .hamburger {
    top: -50px; }
  .navContainer nav {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    position: relative; }
    .navContainer nav li {
      float: left; }
    .navContainer nav a:link, .navContainer nav a:visited {
      display: block;
      font-size: 1.1rem;
      border-bottom: none;
      background: none;
      padding: 22px;
      padding-bottom: 12px;
      margin: 0; }
    .navContainer nav a:hover, .navContainer nav a:focus,
    .navContainer nav li:last-child a:hover, .navContainer nav li:last-child a:focus {
      color: #3BBFAD;
      border-bottom: 4px solid #3BBFAD; }
    .navContainer nav img {
      width: 80px;
      margin: 0 12px;
      position: relative;
      top: 0;
      left: 0; }
  .navContainer .navWave {
    height: 200px; }
  .navContainer .socials {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px; }
  .navContainer .socials a {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 3px; }
  .navContainer .socials svg {
    fill: #3BBFAD; }
  .navContainer .socials svg.facebook:hover {
    fill: #1877F2; }
  .navContainer .socials svg.instagram:hover {
    fill: #E4405F; }
  .navContainer .socials svg.twitter:hover {
    fill: #1D9BF0; }
  .navContainer .socials svg.tiktok:hover {
    fill: #000; } }
@media (min-width: 1000px) {
  .navContainer nav a:link, .navContainer .navContainer nav a:visited {
    font-size: 1.2rem; }
  .navContainer .socials a {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 3px; } }
header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  header.notIndex {
    position: absolute;
    top: 0;
    left: 0;
    height: auto; }
  header .headerCaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    color: #000;
    padding: 20px;
    padding-top: 100px;
    font-family: "Open Sans", sans-serif;
    text-align: center; }
  header .headerCaption h1 {
    font-weight: 400;
    font-size: 1.2rem; }
  header #headerVid {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5; }
  header h6.brand {
    width: 100%;
    text-align: center;
    font-family: "EB Garamond", serif;
    font-size: 2rem;
    font-weight: 400;
    font-variant: small-caps;
    letter-spacing: 0.1rem;
    color: #0D4881;
    position: absolute;
    bottom: 15px;
    right: 0;
    text-shadow: 1px 1px 2px #333;
    transition: all 0.5s ease; }
  header h6.brand span.welcome {
    font-family: Waterfall, cursive;
    font-size: 3.5rem;
    font-variant: normal;
    letter-spacing: normal;
    position: absolute;
    top: -50px;
    right: 20px;
    color: #3BBFAD; }
  header h6.brand span.eco {
    display: inline-block;
    font-size: 1rem;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: relative;
    top: -3px;
    left: 10px; }
  header h6.brand img {
    width: 50px;
    position: relative;
    top: 13px;
    left: 10px; }
  header .headerBottomWave {
    height: 125px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1; }

@media (min-width: 800px) {
  header .headerCaption {
    padding-top: 200px; }
  header h6.brand {
    text-align: right;
    font-size: 3.5rem;
    letter-spacing: 0.15rem;
    bottom: 15px;
    right: 15px; }
  header h6.brand span.welcome {
    font-size: 5rem;
    top: -75px;
    right: 35px; }
  header h6.brand span.eco {
    font-size: 1.5rem;
    top: -8px;
    left: 15px; }
  header h6.brand img {
    width: 80px;
    top: 16px; }
  header .headerBottomWave {
    height: 200px; } }
@media (min-width: 1000px) {
  header .headerCaption {
    padding-top: 35vh;
    left: 0;
    width: 30%;
    height: 100vh;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 80%, rgba(255, 255, 255, 0) 100%);
    padding-right: 100px; }
  header .headerCaption h1 {
    font-size: 1.5rem; }
  header h6.brand {
    font-size: 4rem;
    bottom: 5%;
    right: 50px; }
  header h6.brand span.welcome {
    font-size: 8rem;
    top: -115px;
    right: 150px; }
  header h6.brand span.eco {
    font-size: 2rem;
    top: -10px;
    left: 25px; }
  header h6.brand img {
    width: 100px;
    top: 20px;
    left: 15px; } }
main {
  background: #FFF;
  color: #000; }
  main.notIndex {
    margin-top: 100px; }
  main section {
    margin: 20px 0; }
    main section.flexbox {
      display: block; }
      main section.flexbox .smaller {
        position: relative;
        z-index: 5;
        width: 100%; }
        main section.flexbox .smaller > p {
          font-size: 1rem;
          color: #0D4881;
          padding: 10px 15px;
          margin: 0; }
      main section.flexbox .larger {
        width: 100%;
        min-height: 300px;
        z-index: 2;
        background-position: center top;
        background-size: cover; }

.fullWidthImage {
  width: 100%; }

.clear {
  clear: both; }

.hide {
  display: none; }

h1, h2 {
  font-size: 2.5rem;
  font-family: "EB Garamond", "Garamond", "Baskerville Old Face", "Book Antiqua", serif;
  text-align: center;
  padding: 4px;
  margin: 0 10%;
  margin-bottom: 30px;
  border-top: 1px solid #3BBFAD;
  border-bottom: 1px solid #3BBFAD;
  color: #0D4881; }

p {
  padding: 8px 18px;
  line-height: 1.3rem;
  font-size: 1rem;
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  color: #0D4881; }

blockquote {
  background: #0D4881;
  padding: 18px;
  margin: 12px 0;
  position: relative;
  font-family: Georgia, "Times New Roman", Times, serif;
  quotes: "“" "”"; }
  blockquote::before {
    content: open-quote;
    font-size: 10rem;
    color: #082e53;
    display: block;
    position: absolute;
    top: -5px;
    left: 10px;
    z-index: 1; }
  blockquote p {
    position: relative;
    z-index: 2;
    color: #FFF;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center; }

.reviewsContainer .review {
  width: 100%;
  position: relative;
  box-shadow: 0px 2px 8px #AAA;
  margin: 20px 0;
  padding: 20px 0; }
  .reviewsContainer .review .user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 15px; }
  .reviewsContainer .review .user strong {
    font-family: "EB Garamond", "Garamond", "Baskerville Old Face", "Book Antiqua", serif;
    font-size: 1.3rem;
    margin-left: 20px;
    position: relative;
    top: -20px; }
  .reviewsContainer .review .rating {
    position: absolute;
    top: 47px;
    right: 0; }
    .reviewsContainer .review .rating img {
      width: 100px; }

.button:link, .button:visited {
  display: inline-block;
  padding: 12px 30px;
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-size: 1rem;
  background-color: #3BBFAD;
  color: #FFF;
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: 0.05rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out; }

.button:hover, .button:focus {
  background-color: #9ae0d6;
  color: #0D4881; }

.waterlust {
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .waterlust div img {
    display: block;
    width: 70%;
    margin: 0 auto; }
  .waterlust a:link, .waterlust a:visited, .waterlust a:active {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    text-decoration: none;
    color: #3BBFAD;
    font-weight: 700;
    transition: color 0.2s ease-in-out; }
  .waterlust a:hover, .waterlust a:focus {
    color: #0D4881; }

@media (min-width: 800px) {
  main.notIndex {
    margin-top: 200px; }
  main section.flexbox {
    display: block;
    position: relative;
    clear: both;
    margin: 0;
    min-height: 400px; }
    main section.flexbox .smaller {
      position: relative;
      z-index: 5;
      width: 40%;
      padding-right: 30px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 90%, rgba(255, 255, 255, 0) 100%);
      min-height: 400px; }
      main section.flexbox .smaller > p {
        font-size: 1rem;
        padding: 40px 15px;
        margin: 0; }
    main section.flexbox .moveRight {
      margin-left: 60%;
      padding-left: 40px;
      padding-right: 15px;
      background: linear-gradient(270deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 90%, rgba(255, 255, 255, 0) 100%); }
    main section.flexbox .larger {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-position: center top;
      background-size: cover; }

  .waterlust {
    flex-direction: row;
    align-items: center; }
    .waterlust div:first-child {
      width: 25%; }
    .waterlust div:last-child {
      width: 75%; }
    .waterlust div img {
      display: block;
      width: 70%;
      margin: 0 auto; } }
@media (min-width: 1000px) {
  .reviewsContainer {
    display: flex; }
    .reviewsContainer .review {
      width: 50%;
      margin: 20px;
      text-align: center; }
      .reviewsContainer .review .user img {
        margin: 0; }
      .reviewsContainer .review .user strong {
        display: block;
        margin-top: 20px;
        margin-left: 0; }
      .reviewsContainer .review .rating {
        position: relative;
        top: -8px;
        left: 0; }
        .reviewsContainer .review .rating img {
          width: 150px; }
      .reviewsContainer .review p {
        text-align: left; } }
footer {
  background: #FFF;
  margin: 0; }
  footer a:link, footer a:visited {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; }
  footer a:hover, footer a:focus {
    color: #3BBFAD; }
  footer .footerContent {
    color: #FFF;
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    background: #0D4881; }
    footer .footerContent .brand {
      font-family: "EB Garamond", "Garamond", "Baskerville Old Face", "Book Antiqua", serif;
      font-size: 2rem;
      font-weight: 400;
      font-variant: small-caps;
      letter-spacing: 0.1rem;
      color: #FFF;
      text-shadow: 1px 1px 2px #AAA;
      transition: all 0.5s ease;
      position: relative;
      padding-top: 20px;
      text-align: center; }
      footer .footerContent .brand img {
        width: 60px;
        position: relative;
        top: 15px;
        margin-right: 10px; }
    footer .footerContent .footerInfo {
      font-size: 0.8rem;
      color: #DDD;
      letter-spacing: 0.05rem;
      padding-left: 15px;
      margin-top: 30px;
      float: left; }
      footer .footerContent .footerInfo .info {
        margin-top: 20px; }
      footer .footerContent .footerInfo strong {
        display: block;
        font-size: 0.9rem;
        color: #FFF;
        border-bottom: 1px solid #FFF;
        padding-bottom: 3px;
        margin-bottom: 6px; }
      footer .footerContent .footerInfo .socials a {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-top: 3px;
        margin-right: 10px; }
      footer .footerContent .footerInfo .socials svg {
        fill: #3BBFAD; }
      footer .footerContent .footerInfo .socials svg.facebook:hover {
        fill: #1877F2; }
      footer .footerContent .footerInfo .socials svg.instagram:hover {
        fill: #E4405F; }
      footer .footerContent .footerInfo .socials svg.twitter:hover {
        fill: #1D9BF0; }
      footer .footerContent .footerInfo .socials svg.tiktok:hover {
        fill: #000; }
    footer .footerContent .footerNav {
      margin-top: 45px;
      text-align: right;
      float: right; }
      footer .footerContent .footerNav ul {
        list-style-type: none; }
      footer .footerContent .footerNav a:link,
      footer .footerContent .footerNav a:visited {
        display: block;
        color: #FFF;
        text-decoration: none;
        font-family: "Open Sans", Verdana, Arial, sans-serif;
        padding: 10px 20px; }
      footer .footerContent .footerNav a:hover,
      footer .footerContent .footerNav a:focus {
        color: #3BBFAD; }
    footer .footerContent .copyright {
      color: #999;
      text-align: center;
      font-family: "Open Sans", Verdana, Arial, sans-serif;
      font-size: 0.8rem;
      padding-bottom: 20px;
      margin-top: 25px; }

@media (min-width: 800px) {
  footer .footerContent .brand {
    font-size: 3rem; }
    footer .footerContent .brand img {
      width: 90px;
      top: 20px; }
  footer .footerContent .footerInfo {
    margin-left: 5%; }
  footer .footerContent .footerNav {
    margin-right: 5%; } }
@media (min-width: 1000px) {
  footer .footerContent .brand {
    font-size: 6rem; }
    footer .footerContent .brand img {
      width: 125px; } }
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px; }

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite; }

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s; }

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s; }

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s; }

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s; }

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0); }
  100% {
    transform: translate3d(85px, 0, 0); } }
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px; } }
.fullWidthBgImage {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover; }

section ul {
  list-style: disc;
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-size: 0.9rem; }
  section ul li {
    margin-left: 30px; }

.accordian label {
  display: block;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  border-top: 1px solid #3BBFAD;
  border-bottom: 1px solid #3BBFAD;
  padding: 8px 12px;
  background: #0D4881;
  cursor: pointer;
  color: #fff;
  margin: 10px 0; }
  .accordian label h3 {
    position: relative; }
    .accordian label h3 span {
      display: block;
      position: absolute;
      top: 0%;
      right: 0; }
      .accordian label h3 span::after {
        content: "+"; }
  .accordian label:hover, .accordian label:focus {
    background: #1262af; }
.accordian input {
  display: none; }
.accordian .aContent {
  display: none; }
.accordian input:checked + .aContent {
  display: block; }

@media (min-width: 1000px) {
  .fullWidthBgImage {
    height: 500px; } }
@media (min-width: 1200px) {
  .fullWidthBgImage {
    height: 600px; } }
.modalOpen {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

#modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10000; }

#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10001;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  #modal img {
    display: block;
    max-width: 100%;
    max-height: 100%; }
  #modal p {
    display: block;
    font-size: 0.9rem; }

.closeButton {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 32px;
  height: 32px;
  z-index: 700;
  mix-blend-mode: overlay;
  cursor: pointer; }
  .closeButton::before, .closeButton::after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #000; }
  .closeButton::before {
    transform: rotate(45deg); }
  .closeButton::after {
    transform: rotate(-45deg); }

.gallery {
  display: block; }
  .gallery .image {
    display: block;
    width: 100%;
    border: 3px solid #fff;
    margin: 0;
    padding: 0; }
    .gallery .image:hover, .gallery .image:focus {
      border-color: #0D4881; }
    .gallery .image img {
      width: 100%; }

@media (min-width: 1000px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1%;
    margin: 0 1%; }
    .gallery .image {
      display: block;
      width: 24.2%;
      border: 3px solid #fff;
      margin: 0;
      padding: 0; }
      .gallery .image:hover, .gallery .image:focus {
        border-color: #0D4881; }
      .gallery .image img {
        width: 100%; } }

/*# sourceMappingURL=flipside.css.map */
