main {
    background: #FFF;
    color: #000;

    &.notIndex { margin-top: 100px; }

    section {
        margin: 20px 0;

        &.flexbox {
            display: block;
            
            .smaller { 
                position: relative;
                z-index: 5;
                width: 100%;

                > p { 
                    font-size: 1rem; 
                    color: #505050; 
                    padding: 10px 15px; 
                    margin: 0;
                }
            }
            .larger { 
                width: 100%; 
                min-height: 300px;
                z-index: 2; 
                background-position: center top;
                background-size: cover;
            }
        }
    }        
}

.fullWidthImage { width: 100%; }
.clear { clear: both; }
.hide { display: none; }

h1, h2 {
    font-size: 2.5rem;
    font-family: $fonts_serif;
    text-align: center;
    padding: 4px;
    margin: 0 10%;
    margin-bottom: 30px;
    border-top: 1px solid $colors_teal;
    border-bottom: 1px solid $colors_teal;
    color: $colors_darkblue;
}

p {
    padding: 8px 18px;
    line-height: 1.3rem;
    font-size: 1rem;
    font-family: $fonts_sans;
}

blockquote {
    background: $colors_darkblue;
    padding: 18px;
    margin: 12px 0;
    position: relative;
    font-family: Georgia, "Times New Roman", Times, serif;
    quotes: "\201C""\201D";

    &::before {
        content: open-quote;
        font-size: 10rem;
        color: darken($colors_darkblue, 10);
        display: block;
        position: absolute;
        top: -5px;
        left: 10px;
        z-index: 1;
    }

    p { 
        position: relative; 
        z-index: 2; 
        color: #FFF;
        font-size: 1.3rem;
        line-height: 2rem;
        text-align: center;
    }
}


.reviewsContainer {

    .review {
        width: 100%;
        position: relative;
        box-shadow: 0px 2px 8px #AAA;
        margin: 20px 0; 
        padding: 20px 0;

        .user {
            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                margin-left: 15px;
            }

            strong {
                font-family: $fonts_serif;
                font-size: 1.3rem; 
                margin-left: 20px;
                position: relative;
                top: -20px;
            }
        }

        .rating {
            position: absolute;
            top: 47px;
            right: 0;
            img { width: 100px; }
        }
    }
}


.button:link, .button:visited {
    display: inline-block;
    padding: 12px 30px;
    font-family: $fonts_sans;
    font-size: 1rem;
    background-color: $colors_teal;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    letter-spacing: 0.05rem;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.button:hover, .button:focus {
    background-color: lighten($colors_teal, 25);
    color: $colors_darkblue;
}


@media (min-width: 800px) {

    main {
        &.notIndex { margin-top: 200px; }

        section {

            &.flexbox {
                display: block;
                position: relative;
                clear: both;
                margin: 0;
                min-height: 400px;

                .smaller { 
                    position: relative;
                    z-index: 5;
                    width: 40%;
                    padding-right: 30px;
                    background: linear-gradient(90deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 90%, rgba(255,255,255,0) 100%);
                    min-height: 400px;

                    > p { font-size: 1rem; color: #505050; padding: 40px 15px; margin: 0; }
                }
                .moveRight { 
                    margin-left: 60%;
                    padding-left: 40px;
                    padding-right: 15px;
                    background: linear-gradient(270deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 90%, rgba(255,255,255,0) 100%); 
                }
                .larger { 
                    position: absolute; 
                    top: 0; left: 0;
                    width: 100%; 
                    height: 100%;
                    z-index: 2; 
                    background-position: center top;
                    background-size: cover;
                }
            }
        }

    }

}



@media (min-width: 1000px) {
    .reviewsContainer {
        display: flex;

        .review {
            width: 50%;
            margin: 20px;
            text-align: center;

            .user {
                img { margin: 0; }

                strong { 
                    display: block; 
                    margin-top: 20px;
                    margin-left: 0;
                }
            }

            .rating {
                position: relative;
                top: -8px; left: 0;
                img { width: 150px; }
            }

            p { text-align: left; }
        }
    }
}